<section class="on_start">
  
  <div class="logo">
    <p class="app_name">E-neza Transaction</p>
  </div>

  <div class="start">
    <p><%= link_to "Log in", new_user_session_path, class: "links"%></p>
    <p><%= link_to "Sign up", new_user_registration_path, class: "links" %></p>
  </div>

</section>