<div id="<%= dom_id transaction %>", class="transaction-flex">

  <p>
    <strong><%= transaction.name %></strong>
    
  </p>

  <p>
    <strong>$</strong>
    <%= transaction.amount %>
  </p>

</div>
