<div id="<%= dom_id transaction %>" class: "name-amount">

  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>$</strong>
    <%= transaction.amount %>
  </p>
  
</div>
